<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  <div class="page-wrapper flex flex-col items-stretch min-h-screen">
    {{>header}}
    <div class="main-content grow text-center">
      <h2 class="text-4xl font-semibold my-4">{{ title }}</h1>
      {{>productList}}
    </div>
    {{>footer}}
  </div>
</body>
</html>