<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
  <div class="page-wrapper flex flex-col items-stretch min-h-screen">
    {{>header}}
    <div class="main-content grow text-center">
      <h1 class="text-4xl font-semibold mt-36 mb-8">{{ title }}</h1>
      <p class="text-xl">{{ pageTitle }}</p>
    </div>
    {{>footer}}
  </div>
</body>
</html>