PORT={ your server port }
BASE_URL={ your server URL }
MONGODB_URL=mongodb://{ your MongoDB server URL }/{ database name }
ALLOWED_ORIGINS={ array with client-side domains URLs }
JWT_SECRET={ provide your jwt secret key }
CUSTOMER_JWT_EXPIRES_IN={ jwt expiration time }
SESSION_SECRET_ADMIN={ provide your admin user sessions secret key }
SESSION_SECRET_GUEST={ provide your guest customers sessions secret key }
SESSION_EXPIRATION_ADMIN={ admin session expiration time }
SESSION_EXPIRATION_GUEST={ guest customer session expiration time }