PORT=3000
BASE_URL=http://localhost:3000
MONGODB_URL=mongodb://127.0.0.1:27017/database-name
ALLOWED_ORIGINS={array with client-side domains URLs}
JWT_SECRET={provide your jwt secret key}
CUSTOMER_JWT_EXPIRES_IN=3600