PORT={ your server port }
BASE_URL={ your server URL }
MONGODB_URL=mongodb://{ your MongoDB server URL }/{ database name }
ALLOWED_ORIGINS={array with client-side domains URLs}
JWT_SECRET={provide your jwt secret key}
CUSTOMER_JWT_EXPIRES_IN=3600